section.contact-me-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: black;
    padding: 20px;
    position: relative;
}

.tagline-wrapper > h1 {
    font-size: 4.5rem;
    color: #7DB7FF;
    filter: drop-shadow(0 0 10px #7DB7FF);
}

.tagline-wrapper {
    position: absolute;
    top: -50px;
}

.contact-info {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left-col {
    width: 50%;
}

.left-col > h2 {
    font-size: 2.5rem;
    padding: 20px;
}
.left-col > p { 
    padding: 20px;
    font-size: 1.5rem;
}

.right-col{
    width: 50%;
}

.right-col > ul > li {
    list-style-position: 
    inside;
    list-style: none;
}

.right-col>ul>li > a {
    text-decoration: none;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.right-col>ul>li>a:hover {
    text-decoration: underline;
    text-decoration-color: #7DB7FF;
}

.right-col>ul>li>a>span{
    display: inline-block;
    margin: 10px;
    display: flex;
    align-items: center;
}



.right-col>ul>li>a::before {
    content: "➔";
    margin-right: 20px;
    color: #7DB7FF;
    filter: drop-shadow(0 0 10px #7DB7FF);
}

footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}