.card {
    width: 150px;
}

.card-content {
    display: flex;
    background-color: #4042A4;
    align-items: center;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    margin: 0 auto;
    border: 1px solid #232323;
    justify-content: center;
    gap: 10px;
}

.card-content > h3 {
    font-size: 0.9rem;
    font-weight: normal;
    letter-spacing: 2px;
    color: #ffffff;
}


