button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #7DB7FF;
    background-color: transparent;
    color: #7DB7FF;
    width: 150px;
}

button:hover {
    background-color: #7DB7FF;  
    box-shadow: 0 0 10px #7DB7FF;
    color: #3F4179;
}
