button {
    background-color: #333566;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 5px 0 #000000;
    display: flex;
    align-items: center;
    gap: 10px;
}

button:hover {
    background-color: #3F4179;
}