button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid rgba(174, 173, 173, 0.5);

    background-color: transparent;
    color: #7DB7FF;
    width: 150px;
    transition: all .5s ease-in-out;
    position: relative;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #3F4179;
    z-index: 1;
}

button:hover::before {
   transform: scaleX(1);
}

button::before{
    content: "";
    left: 0;
    position: absolute;
    transform-origin: left;
    background-color: #7DB7FF;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    z-index: -1;
}


button:hover{
    color: #3F4179;
    box-shadow: 0 0 10px #7DB7FF;
}