#about-me{
    background-image: url('../../../assets/background/aboutme.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-me-wrapper {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.about-me-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section.about-me-content > div.left-col{
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

section.about-me-content > div.left-col > img{
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(251, 251, 251, 0.866);
}


section.about-me-content>div.left-col>img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}


section.about-me-content > div.right-col > img{
    width: 60%;
}


section.about-me-content>div.right-col {
    width: 60%;
    padding: 20px ;
}

div.info-card > h2{
    font-size: 5rem;
    letter-spacing: 20px;
    margin-bottom: 20px;
}

div.info-card > h3{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #7DB7FF;
}

div.info-card > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

div.info-card > ul > li{
    margin-bottom: 10px;
    text-align: justify;
    font-size: 1.5rem;
}

div.info-card>ul>li::before{
    content: "➔";
    color: #7DB7FF;
    margin-right: 10px;
    filter: drop-shadow(0 0 5px #7DB7FF);
}

@media (max-width: 1024px) {
    section.about-me-content{
        flex-direction: column;
        align-items: center;
    }
    
    section.about-me-content > div.left-col{
        width: 100%;
    }

    section.about-me-content > div.right-col{
        width: 100%;
        text-wrap: balance;
        text-align: start;
    }

    div.info-card > h2{
        font-size: 3.5rem;
        transition: all 0.3s ease;
    }

    div.info-card > h3{
        font-size: 1.5rem;
        transition: all 0.3s ease;
    }

    div.info-card > ul > li{
        font-size: 1.2rem;
        transition: all 0.3s ease;
        text-align: justify;
    }
}

@media (max-width: 768px) {

    .left-col > img{
        width: 200px;
        height: 250px;
        transition: all 0.3s ease;
    }

    div.info-card > h2{
        font-size: 2.5rem;
        letter-spacing: 10px;
        transition: all 0.3s ease;
    }

    div.info-card > h3{
        font-size: 1.2rem;
        transition: all 0.3s ease;
    }

    div.info-card > ul > li{
        font-size: 1rem;
        transition: all 0.3s ease;
    }
    
    

}

.left-col {
    animation: fadeInLeft 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.right-col {
    animation: fadeInRight 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.banner-wrapper {
    animation: fadeInUp 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}



@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp{
     from {
        opacity: 0;
        transform: translateY(50px);
     }
     to {
        opacity: 1;
        transform: translateY(0);
     }
}


.info-card {
    animation: fadeIn 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}