
.about-me-wrapper {
    width: 90%;
    margin: 50px auto;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.about-me-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section.about-me-content > div.left-col{
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

section.about-me-content > div.left-col > img{
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(251, 251, 251, 0.866);
}


section.about-me-content>div.left-col>img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}


section.about-me-content > div.right-col > img{
    width: 60%;
}


section.about-me-content>div.right-col {
    width: 60%;
    padding: 20px;
}

div.info-card > h2{
    font-size: 3.5rem;
    letter-spacing: 10px;
    margin-bottom: 20px;
}

div.info-card > h3{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #7DB7FF;
}

div.info-card > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

div.info-card > ul > li{
    margin-bottom: 10px;
    font-size: 1.5rem;
}

div.info-card>ul>li::before{
    content: "➔";
    color: #7DB7FF;
    margin-right: 10px;
    filter: drop-shadow(0 0 5px #7DB7FF);
}







