.about-me-wrapper {
    min-height: 85vh;
    width: 90%;
    margin: 0 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-info {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.img-wrapper {
    width: 30%;
}

.img-wrapper > img {
    border-radius: 10px;
    box-shadow: 0 0 5px white;
}

.about-me-wrapper > h2 {
    font-size: 3rem;
    letter-spacing: 10px;
    margin-bottom: 20px;
}

.button-heading{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info-card {
    background-color: #0F001A;
    border-radius: 10px;
    box-shadow: 0 0 5px white;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}

.info-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.info-card h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.info-card h3 {
    font-size: 2rem;
}

.info-card ul {
    list-style-position: inside;
    line-height: 30px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.button-wrapper> div > ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 5px;
}

.button-wrapper> div >ul > li:hover {
   border-bottom: 1px solid #7DB7FF;
   color: #7DB7FF;
   cursor: pointer;
}   

.data {
    display: flex;
    flex-wrap: wrap;
}
