.projects-wrapper {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projects-wrapper > h2 {
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 20px;
    
}

.projects-container{
    margin: 20px 0px;
}

.project-card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}


